data-processing/connectors/webservice-processor/wsdl/SalesService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="SalesService"
             targetNamespace="http://sales.com/wsdl"
             xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:tns="http://sales.com/wsdl"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">

    <types>
        <xsd:schema targetNamespace="http://sales.com/wsdl">
            <xsd:element name="SubmitSellerRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="ssn" type="xsd:string"/>
                        <xsd:element name="saleId" type="xsd:string"/>
                        <xsd:element name="sellerName" type="xsd:string"/>
                        <xsd:element name="city" type="xsd:string"/>
                        <xsd:element name="country" type="xsd:string"/>
                        <xsd:element name="totalAmount" type="xsd:string"/>
                        <xsd:element name="currency" type="xsd:string"/>
                        <xsd:element name="saleDate" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="SubmitSellerResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="status" type="xsd:string"/>
                        <xsd:element name="message" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </types>

    <message name="SubmitSellerInput">
        <part name="parameters" element="tns:SubmitSellerRequest"/>
    </message>
    <message name="SubmitSellerOutput">
        <part name="parameters" element="tns:SubmitSellerResponse"/>
    </message>

    <portType name="SalesPortType">
        <operation name="submitSeller">
            <input message="tns:SubmitSellerInput"/>
            <output message="tns:SubmitSellerOutput"/>
        </operation>
    </portType>

    <binding name="SalesBinding" type="tns:SalesPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="submitSeller">
            <soap:operation soapAction="http://sales.com/submitSeller"/>
            <input><soap:body use="literal"/></input>
            <output><soap:body use="literal"/></output>
        </operation>
    </binding>

    <service name="SalesService">
        <port name="SalesPort" binding="tns:SalesBinding">
            <soap:address location="http://localhost:8181/sellers"/>
        </port>
    </service>
</definitions>
